extends layout 


block content 
    h2 WELCOME TO COMIC WIKI!!! 



    h2 Popular Articles:    
    each hero in heroes    
            form(id='form' action="/comicpage/" + hero.name method='get')
                p 
                    input(type="text" disabled name="heroName" value=hero.name)
                p
                    input(type='image' src=hero.images.sm)
                p





