extends layout 


block content 
    h2 WELCOME TO COMIC WIKI!!! 



    h2 Popular Articles:    
    each hero in heroes 
        a(id='form' href="/comicpage")
            p #{hero.name}
            p
                img(src=hero.images.sm)
            p




