extends layout 

block content 
    h2 WELCOME TO COMIC WIKI!!! 
    br
    h2 Popular Articles:    
            
    div(class="row")
        each hero in heroes 
            form(id='form' class="column" action="/comicpage/" + hero.slug method='get')
                p 
                    input(type="text" disabled name="heroName" value=hero.name)
                p
                    input(type="text" disabled hidden name="heroSlug" value=hero.slug)
                p
                    input(type='image' src=hero.images.sm)
                p


