extends layout 

block content 
    h2 User Information:

    ul(class="edit_comic")
            div(id='divider')
                div(id='leftSidetop')
                div(id='centerSidetop')
                    form(id='form' method='post' action="/edit/" + user._id)
                        img(src=user.PFP width=250)
                        br
                        label(class='account' for='username') Name: 
                            input(type='text' name='username' value=user.Username)
                        br
                        label(class='account' for='password') Password: 
                            input(type='password' name='password')
                        br
                        label(class='account' for='bio') Bio: 
                            input(type='text' name='bio' value=user.Bio)
                        br   
                        label(class='account' for='edit_history') Edit History: 
                            each item in user.Edit_History
                                input(type='text' disabled name='edit_history' value=item)
                        br
                        input(type='submit' value='Edit User')
                        br
                        a(href='/logout' class='logout' id='/logout') Log Out
                        br
                div(id='rightSidetop')
